body {
    margin: auto;
    background-color: #0ABAB5;
    font-family: 'Catamaran', sans-serif;
}

img {
    max-width: 100%;
    height: auto; 
}


main, footer {
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

header a {
    text-decoration: none;
    color:#524A4A;
    background-color: #39D7D7;
    text-decoration-color:#524A4A;
    font-weight: 300;
    font-size: 24px;
    
}

header a:hover {
    color: #524A4A;
    text-decoration: underline;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #524A4A;
    background-color: #39D7D7;
    font-weight: 300;
}

header p {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}


header nav ul {
    margin:0;
    padding:50px;
    list-style-type:none;
    display:flex;
    gap: 20px;
}


footer {

    padding: auto;
    background-color: #39D7D7;
    height: 210px;
    font-size: 20px;
    font-weight: 400;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}



footer h2{


    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    display: flexbox;
    flex-direction: row;
    row-gap: 20px;
  
    
    color: #524A4A;} 

footer p {
   
    
    font-family: 'Catamaran';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;

    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;}
    
main {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    gap: 150px;
}

main div.card h2 {
    margin: 20px;
    padding: 20px 20px 4px 20px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #d9d9d9;
    
    color: #000000;
}


.container-grid {
	display : grid;
	grid-template-columns: 10px 1fr 1fr 10px;
	grid-template-rows: 10% auto;
}

.item-img-grid{
	grid-column-start: 2;
	grid-row-start: 2;
	grid-row-end: three;
}

.item-p-grid{
	grid-column-start: 3;
	grid-row-start: 2;
	grid-row-end: three;
}

.immagineA{
	width: 528px;
	height:352px;
}

.paragrafi{
width: 528px;
height: 512px;

font-family: 'Catamaran';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 130%;
padding-left: 5%;
color: #262323;
}
